.menu {
    li {
        margin-bottom: 10px;
        position: relative;

        &.active {
            &::before {
                display: block;
            }
        }

        &::before {
            content: '';
            height: 100%;
            width: 1px;
            background-color: red;
            position: absolute;
            left: -15px;
            display: none;
        }
    }
}